.App {
    text-align: center;
  }

.App .top-bar{
    background-color: #F6DA6F;
    height: 628px;
    padding: 30px;
  
  }

.App .top-bar .quote{
    padding:90px;
    font-size: 60px;
    margin-left: 90px;
    margin-right: 90px;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.container {
    justify-content: center;
    min-width: 400px;
    max-width: 3000px;
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
    padding: 50px;
}